In [15]:
import pandas as pd #question 1
data=[['daulat',20,'daulat053@gmail.com',8769950358],['shivam',98,'shivam23@gmail.com',9536726515]]
df=pd.DataFrame(data,columns=['name','age','mail id','phone number'])
print(df)

     name  age              mail id  phone number
0  daulat   20  daulat053@gmail.com    8769950358
1  shivam   98   shivam23@gmail.com    9536726515

In [17]:
import pandas as pd#question 2
df=pd.read_csv('https://raw.githubusercontent.com/Shreyas3108/Weather/master/weather.csv')
print(df.head(5))#a

        Date  Location  MinTemp  MaxTemp  Rainfall  Evaporation  Sunshine  \
0  11/1/2007  Canberra      8.0     24.3       0.0          3.4       6.3
1  11/2/2007  Canberra     14.0     26.9       3.6          4.4       9.7
2  11/3/2007  Canberra     13.7     23.4       3.6          5.8       3.3
3  11/4/2007  Canberra     13.3     15.5      39.8          7.2       9.1
4  11/5/2007  Canberra      7.6     16.1       2.8          5.6      10.6

  WindGustDir  WindGustSpeed WindDir9am      ...      Humidity3pm  \
0          NW           30.0         SW      ...               29
1         ENE           39.0          E      ...               36
2          NW           85.0          N      ...               69
3          NW           54.0        WNW      ...               56
4         SSE           50.0        SSE      ...               49

   Pressure9am  Pressure3pm  Cloud9am  Cloud3pm  Temp9am  Temp3pm  RainToday  \
0       1019.7       1015.0         7         7     14.4     23.6         No
1       1012.4       1008.4         5         3     17.5     25.7        Yes
2       1009.5       1007.2         8         7     15.4     20.2        Yes
3       1005.5       1007.0         2         7     13.5     14.1        Yes
4       1018.3       1018.5         7         7     11.1     15.4        Yes

   RISK_MM  RainTomorrow
0      3.6           Yes
1      3.6           Yes
2     39.8           Yes
3      2.8           Yes
4      0.0            No

[5 rows x 24 columns]

In [19]:
print(df.head(10))#b

         Date  Location  MinTemp  MaxTemp  Rainfall  Evaporation  Sunshine  \
0   11/1/2007  Canberra      8.0     24.3       0.0          3.4       6.3
1   11/2/2007  Canberra     14.0     26.9       3.6          4.4       9.7
2   11/3/2007  Canberra     13.7     23.4       3.6          5.8       3.3
3   11/4/2007  Canberra     13.3     15.5      39.8          7.2       9.1
4   11/5/2007  Canberra      7.6     16.1       2.8          5.6      10.6
5   11/6/2007  Canberra      6.2     16.9       0.0          5.8       8.2
6   11/7/2007  Canberra      6.1     18.2       0.2          4.2       8.4
7   11/8/2007  Canberra      8.3     17.0       0.0          5.6       4.6
8   11/9/2007  Canberra      8.8     19.5       0.0          4.0       4.1
9  11/10/2007  Canberra      8.4     22.8      16.2          5.4       7.7

  WindGustDir  WindGustSpeed WindDir9am      ...      Humidity3pm  \
0          NW           30.0         SW      ...               29
1         ENE           39.0          E      ...               36
2          NW           85.0          N      ...               69
3          NW           54.0        WNW      ...               56
4         SSE           50.0        SSE      ...               49
5          SE           44.0         SE      ...               57
6          SE           43.0         SE      ...               47
7           E           41.0         SE      ...               57
8           S           48.0          E      ...               48
9           E           31.0          S      ...               32

   Pressure9am  Pressure3pm  Cloud9am  Cloud3pm  Temp9am  Temp3pm  RainToday  \
0       1019.7       1015.0         7         7     14.4     23.6         No
1       1012.4       1008.4         5         3     17.5     25.7        Yes
2       1009.5       1007.2         8         7     15.4     20.2        Yes
3       1005.5       1007.0         2         7     13.5     14.1        Yes
4       1018.3       1018.5         7         7     11.1     15.4        Yes
5       1023.8       1021.7         7         5     10.9     14.8         No
6       1024.6       1022.2         4         6     12.4     17.3         No
7       1026.2       1024.2         6         7     12.1     15.5         No
8       1026.1       1022.7         7         7     14.1     18.9         No
9       1024.1       1020.7         7         1     13.3     21.7        Yes

   RISK_MM  RainTomorrow
0      3.6           Yes
1      3.6           Yes
2     39.8           Yes
3      2.8           Yes
4      0.0            No
5      0.2            No
6      0.0            No
7      0.0            No
8     16.2           Yes
9      0.0            No

[10 rows x 24 columns]

In [21]:
df.mean()#c

MinTemp             7.265574
MaxTemp            20.550273
Rainfall            1.428415
Evaporation         4.521858
Sunshine            7.909366
WindGustSpeed      39.840659
WindSpeed9am        9.651811
WindSpeed3pm       17.986339
Humidity9am        72.035519
Humidity3pm        44.519126
Pressure9am      1019.709016
Pressure3pm      1016.810383
Cloud9am            3.890710
Cloud3pm            4.024590
Temp9am            12.358470
Temp3pm            19.230874
RISK_MM             1.428415
dtype: float64

In [23]:
df.max()

Date             9/9/2008
Location         Canberra
MinTemp              20.9
MaxTemp              35.8
Rainfall             39.8
Evaporation          13.8
Sunshine             13.6
WindGustSpeed          98
WindSpeed9am           41
WindSpeed3pm           52
Humidity9am            99
Humidity3pm            96
Pressure9am        1035.7
Pressure3pm        1033.2
Cloud9am                8
Cloud3pm                8
Temp9am              24.7
Temp3pm              34.5
RainToday             Yes
RISK_MM              39.8
RainTomorrow          Yes
dtype: object

In [25]:
df.median()

MinTemp             7.45
MaxTemp            19.65
Rainfall            0.00
Evaporation         4.20
Sunshine            8.60
WindGustSpeed      39.00
WindSpeed9am        7.00
WindSpeed3pm       17.00
Humidity9am        72.00
Humidity3pm        43.00
Pressure9am      1020.15
Pressure3pm      1017.40
Cloud9am            3.50
Cloud3pm            4.00
Temp9am            12.55
Temp3pm            18.55
RISK_MM             0.00
dtype: float64

In [27]:
df.var()

MinTemp           36.310264
MaxTemp           44.763000
Rainfall          17.857382
Evaporation        7.125603
Sunshine          12.120962
WindGustSpeed    170.558563
WindSpeed9am      63.233174
WindSpeed3pm      78.446388
Humidity9am      172.582297
Humidity3pm      283.954428
Pressure9am       44.705425
Pressure3pm       41.853426
Cloud9am           8.738708
Cloud3pm           7.108983
Temp9am           31.706271
Temp3pm           44.094195
RISK_MM           17.857382
dtype: float64

In [29]:
df.std()

MinTemp           6.025800
MaxTemp           6.690516
Rainfall          4.225800
Evaporation       2.669383
Sunshine          3.481517
WindGustSpeed    13.059807
WindSpeed9am      7.951929
WindSpeed3pm      8.856997
Humidity9am      13.137058
Humidity3pm      16.850947
Pressure9am       6.686212
Pressure3pm       6.469422
Cloud9am          2.956131
Cloud3pm          2.666268
Temp9am           5.630832
Temp3pm           6.640346
RISK_MM           4.225800
dtype: float64

In [31]:
df.describe()

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RISK_MM
count,366.000000,366.000000,366.000000,366.000000,363.000000,364.000000,359.000000,366.000000,366.000000,366.000000,366.000000,366.000000,366.000000,366.000000,366.000000,366.000000,366.000000
mean,7.265574,20.550273,1.428415,4.521858,7.909366,39.840659,9.651811,17.986339,72.035519,44.519126,1019.709016,1016.810383,3.890710,4.024590,12.358470,19.230874,1.428415
std,6.025800,6.690516,4.225800,2.669383,3.481517,13.059807,7.951929,8.856997,13.137058,16.850947,6.686212,6.469422,2.956131,2.666268,5.630832,6.640346,4.225800
min,-5.300000,7.600000,0.000000,0.200000,0.000000,13.000000,0.000000,0.000000,36.000000,13.000000,996.500000,996.800000,0.000000,0.000000,0.100000,5.100000,0.000000
25%,2.300000,15.025000,0.000000,2.200000,5.950000,31.000000,6.000000,11.000000,64.000000,32.250000,1015.350000,1012.800000,1.000000,1.000000,7.625000,14.150000,0.000000
50%,7.450000,19.650000,0.000000,4.200000,8.600000,39.000000,7.000000,17.000000,72.000000,43.000000,1020.150000,1017.400000,3.500000,4.000000,12.550000,18.550000,0.000000
75%,12.500000,25.500000,0.200000,6.400000,10.500000,46.000000,13.000000,24.000000,81.000000,55.000000,1024.475000,1021.475000,7.000000,7.000000,17.000000,24.000000,0.200000
max,20.900000,35.800000,39.800000,13.800000,13.600000,98.000000,41.000000,52.000000,99.000000,96.000000,1035.700000,1033.200000,8.000000,8.000000,24.700000,34.500000,39.800000

In [33]:
print(df.tail(5)) #d

           Date  Location  MinTemp  MaxTemp  Rainfall  Evaporation  Sunshine  \
361  10/27/2008  Canberra      9.0     30.7       0.0          7.6      12.1
362  10/28/2008  Canberra      7.1     28.4       0.0         11.6      12.7
363  10/29/2008  Canberra     12.5     19.9       0.0          8.4       5.3
364  10/30/2008  Canberra     12.5     26.9       0.0          5.0       7.1
365  10/31/2008  Canberra     12.3     30.2       0.0          6.0      12.6

    WindGustDir  WindGustSpeed WindDir9am      ...      Humidity3pm  \
361         NNW           76.0        SSE      ...               15
362           N           48.0        NNW      ...               22
363         ESE           43.0        ENE      ...               47
364          NW           46.0        SSW      ...               39
365          NW           78.0         NW      ...               13

     Pressure9am  Pressure3pm  Cloud9am  Cloud3pm  Temp9am  Temp3pm  \
361       1016.1       1010.8         1         3     20.4     30.0
362       1020.0       1016.9         0         1     17.2     28.2
363       1024.0       1022.8         3         2     14.5     18.3
364       1021.0       1016.2         6         7     15.8     25.9
365       1009.6       1009.2         1         1     23.8     28.6

     RainToday  RISK_MM  RainTomorrow
361         No      0.0            No
362         No      0.0            No
363         No      0.0            No
364         No      0.0            No
365         No      0.0            No

[5 rows x 24 columns]

In [35]:
df.shape

(366, 24)

In [43]:
dt=pd.DataFrame(df,columns=['MinTemp'])#e
dt

     MinTemp
0        8.0
1       14.0
2       13.7
3       13.3
4        7.6
5        6.2
6        6.1
7        8.3
8        8.8
9        8.4
10       9.1
11       8.5
12      10.1
13      12.1
14      10.1
15      12.4
16      13.8
17      11.7
18      12.4
19      15.6
20      15.3
21      16.4
22      12.8
23      12.0
24      15.4
25      15.6
26      13.3
27      12.9
28      15.1
29      13.6
..       ...
336      5.6
337     16.8
338     14.4
339     10.3
340     11.2
341      0.3
342      0.5
343      0.5
344      4.6
345      8.2
346      4.5
347      6.7
348     11.9
349      9.2
350      4.4
351      5.0
352      6.7
353      8.3
354     11.3
355      9.0
356      3.4
357      3.2
358      0.9
359      3.3
360      7.9
361      9.0
362      7.1
363     12.5
364     12.5
365     12.3

[366 rows x 1 columns]

In [51]:
dt.mean()

MinTemp    7.265574
dtype: float64

In [47]:
dt.min()

MinTemp   -5.3
dtype: float64

In [52]:
dt.max()

MinTemp    20.9
dtype: float64

In [54]:
dt.std()

MinTemp    6.0258
dtype: float64

In [56]:
dt.var()

MinTemp    36.310264
dtype: float64

In [60]:
dt.median()

MinTemp    7.45
dtype: float64

In [62]:
dt.sum()

MinTemp    2659.2
dtype: float64

In [63]:
dt.describe()

          MinTemp
count  366.000000
mean     7.265574
std      6.025800
min     -5.300000
25%      2.300000
50%      7.450000
75%     12.500000
max     20.900000